@font-face {
    font-family: bokor;
    src: url(Bokor-Regular.ttf);
}

@font-face {
    font-family: special;
    src: url(SpecialElite-Regular.ttf);
}

@font-face {
    font-family: handjet;
    src: url(Handjet-VariableFont_ELGR,ELSH,wght.ttf);
}