* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes moveUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-80px); 
    }
}

@keyframes moveUp-arrow {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(-40px); 
      opacity: 1;
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveDownAndFadeIn {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(50px);
    }
}

.animate-language {
    animation: moveDownAndFadeIn 1s ease forwards;
}

.animate-borderline {
    animation: moveUp 1s ease forwards;
}

.animate-arrow {
    animation: moveUp-arrow 1s ease forwards;
}

body {
    background: url('../assets/background.png');
    background-size: 1512px 857px;
    background-position:initial;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .border-line {
    font-family: bokor;
    font-size: 150px;
    color: #C1121F;
    margin-top: 320px;
}
  
.language {
    display: flex;
    justify-content: center;
}

.language h1 {
    font-family: special;
    color: #C1121F;
    font-size: 40px;
    margin-bottom: 15px;
}

.language h1:hover {
    color: white;
}

.language .language-2 {
    margin-top: -160px;
    opacity: 0; /* Max is 1*/
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Arrow */
.image img {
    margin-bottom: -590px;
    height: auto;
    width: 110px;
    opacity: 0;
}

